@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ddd;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 60vw);
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1), 0 0 20px rgba(0,0,0,0.1);
}
.container h1{
    text-align: center;
    font-weight: 500;
}
.container textarea{
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    resize: none;
    padding: 12px;
    font-size: 16px;
}
.container button{
    margin: 30px 0 5px;
    border: none;
    outline: none;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 8px 40px;
    border-radius: 40px 10px;
    letter-spacing: 0.6px;
    font-size: 15px;
    background: radial-gradient(rgb(30, 191, 209), rgb(29, 198, 245));
    color: #fff;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgb(29, 198, 245);
}
.container button:active{
    transform: scale(0.9);
    transition: 0.3s;
}
@media (max-width: 860px) {
    .container{
        width: calc(100vw - 30vw);
    }
}
@media (max-width: 500px) {
    .container{
        width: calc(100vw - 10vw);
    }
}